<h1>Entrar em contato</h1>

<div class="col-md-6 col-md-offset-3">
<p>Entre em contato com nós através do Formulário, clicando no botão abaixo, ou veja outras formas de contato abaixo.
</p>
<br>
<br><center>
<a data-toggle="modal" href="#myModal" class="btn btn-primary">Abrir formulário de contato</a>
</center>
	<div class="modal" id="myModal">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	          <h4 class="modal-title">Formulário de contato</h4>
	        </div><div class="container"></div>
	        <div class="modal-body">
	          <iframe width="500px" height="400px" style="border: 0;" src="http://inc-team.net/contato.html" frameborder="0" scrolling="no"></iframe>
	          <br>
	          <br>
	        </div>
	        <div class="modal-footer">
	          <a href="#" data-dismiss="modal" class="btn">Close</a>
	        </div>
	      </div>
	    </div>
	</div>
</div>
<div class="col-md-6">
<h6>Formas de Contato</h6><br>
<p> Primeiramente agradecemos sua visita. Para sua comodidade, oferecemos diversas formas de contato, você pode escolher a que achar melhor. 
<br><br>
<b>Formulário de contato</b><br>
Acima você encontra o botão "Abrir formulário de contato", ao clicar será aberta uma janela onde você pode escrever sua mensagem e enviar, de maneira fácil e rápida. Pedimos que coloque seu e-mail corretamente para podermos responder.
<br><br>
<b>E-mail</b><br>
Caso prefira, pode entrar em contato conosco através do e-mail:<br> contato@inc-team.net
<br><br>
<b>Rede Social</b><br>
Temos página no Facebook e canal no Youtube.
<br>
 <a href="https://www.facebook.com/InfiniteCreationsTeam/"><img src="/images/facebook.png" width="10%" height="10%" align="left"></a> <a href="https://www.youtube.com/channel/UCIZKchwM9N_R6v-j8EPUuVw"><img src="/images/youtube.png" width="10%" height="10%" align="left"></a>
</p>

</div>
<div class="col-md-6">
<h6> FAQ </h6><br><p>
Veja a baixo as principais questões sobre nossa empresa e nossos serviços. <br>
<br>
<b>O que é a Infinite Creations Team (ICT)(inc-team.net)?</b><br>
Somos uma empresa focada no desenvolvimento de Roteiros, Livros e jogos(RPG e MMORPG). Nosso objetivo é trazer entreterimento para as pessoas de todas as faixas de idade.

</p>
</div>
