<!-- Page Content -->
<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
<br></br>
<div class="container">
    <div class="row">
   
        <div class=".col-md-6 .col-md-offset-3">
      
	    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	    <div class="item active">
	   <!-- <%= pie_chart Contato.group(:name).count %> -->
	      <img src="/images/carro2.png" alt="Imagem1" class="img-circle" width="55%" height="40%">
	      <div class="carousel-caption">
	     
	     	 <h1>Ola Mundo</h1>
	     	 <p>Apenas testando</p>
	      	
    		
  		  </div> 
	    </div>
	    <div class="item">
	   <!-- <%= pie_chart Contato.group(:andress).count %> -->
	      <img src="/images/carro3.jpg" alt="Imagem2" class="img-circle" width="55%" height="40%">
	      <div class="carousel-caption">
	        <h3>Teste 1</h3>
   			<p>Testando o Carro</p>
	      </div> 
	    </div>
		    <div class="item">
		      <img src="/images/carro4.jpg" alt="Imagem3" class="img-circle" width="55%" height="40%">
		      <div class="carousel-caption">
		     
		     	 <h3>Ola Mundo</h3>
		     	 <p>Apenas testando</p>
		      	
	    		
	  		 </div>
	  </div>


	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>


            <h1>Inc Team</h1>
            <p>Seja bem vindo, aqui ficará uma descrição do site e de seus princiais reursos.</p>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
