<h1>Historias</h1>
<p>Conheça nossas histórias</p>

<table width="100%">
  <thead>
    <tr>
      <th width="15%">Autor</th>
      <th width="20%">Titulo</th>
      <th width="20%">Capitulo</th>
      <th width="55%">Texto</th>
      <th colspan="3"></th>
    </tr>
  </thead>
