<% content_for :title do %>About<% end %>
<h3>Sobre a ICT</h3>
<p>
Sobre a empresa. 
Aqui será um espaço onde descreveremos sobre a empresa, missão e valores...
Também terá um pouco sobre os projetos, como o por que decidimos faze-los...
</p>
