<% content_for :title do %>Sobre<% end %>

<h1>Infinite Creations Team - Sobre Nós</h1>

<br></br>
 <p>Nossa empresa teve início em 2010 com o nome de Onayo, que dois anos depois virou Adventure Years,  em 2015 virou Semag, e agora chegamos ao fim dos nomes e o realmente fixo Infinite Creations Team (ICT).
 <br></br>
 Temos o propósito de criar livros, roteiros para jogos e animações em geral. 
<br></br>
 Estamos formando uma equipe para a criação de jogos RPG’s e animações,  podendo assim divulgar nossos roteiros de maneira prática e direta à todos os nossos Clientes..
<br></br>
 Nosso foco é agradar e trazer diversão e entusiasmo à todos vocês, trazendo roteiros de qualidade, em todos os gêneros (Ação, Drama, Comédia, Aventura, Romance, Mistério, etc.) e plataformas (Jogos, Animações, Histórias em Quadrinhos, etc).
 Buscando sempre satisfazer nossos clientes, nossos roteiros são sempre criados em conjunto com todos os roteiristas da equipe, além de contarmos com um Controle de qualidade de alto nível, para não haver erros ou qualquer coisa que prejudique o nosso trabalho final. Também garantimos que nossas histórias sejam únicas, de total autoria nossa, não havendo Plágios de nenhuma forma. Para essa garantia, contamos com pesquisadores, que vão pesquisar por toda a Rede de informação se não há histórias semelhantes, antes de lançarmos a história, além de todas as histórias são patenteadas em nome dos respectivos Roteiristas.

</p>
